body{
    height: 100%;
    width:100%;
    font-style: normal;
   
}
.produce{
  text-align: center;
  color: #81AE46;
}
.product {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.items{
  flex:1 0 15%; 
  border-right: 1px solid #E9ECEF;
  border-bottom: 1px solid #E9ECEF;
  
}

  .product div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 6px;
  }

  .product-img{
    width: 80px;
    height: 80px;
  }

  .product-name:hover, .product-price:hover{
    color: #0157B3;
  }

 